absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
apt-clone==0.2.1
apturl==0.5.2
arrow==1.4.0
asgiref==3.8.1
async-timeout==4.0.1
attrs==25.4.0
Babel==2.8.0
bcc==0.18.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
binaryornot==0.4.4
blinker==1.9.0
Brlapi==0.8.3
Brotli==1.0.9
catfish==4.16.4
ccsm==0.9.14.1
certifi==2020.6.20
cffi==2.0.0
chardet==4.0.0
charset-normalizer==3.4.2
click==8.3.1
colorama==0.4.4
command-not-found==0.3
compizconfig-python==0.9.14.1
configobj==5.0.6
cookiecutter==2.6.0
cryptography==3.4.8
cupshelpers==1.0
dbus-fast==2.44.1
dbus-python==1.2.18
defer==1.0.6
discord==2.3.2
discord-webhook==1.4.1
discord.py==2.6.4
distro==1.7.0
Django==5.2.3
dotenv==0.9.9
evdev==1.4.0
exceptiongroup==1.3.1
eyeD3==0.8.10
fastapi==0.128.0
fido2==0.9.1
filelock==3.6.0
Flask==3.1.2
flatbuffers==25.12.19
flet==0.80.2
flet-cli==0.80.2
flet-desktop==0.80.2
flet-web==0.80.2
frozenlist==1.8.0
greenlet==1.1.2
gyp==0.1
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.2
httptools==0.7.1
httpx==0.28.1
idna==3.3
ifaddr==0.1.7
IMDbPY==2021.4.18
importlib-metadata==4.6.4
itsdangerous==2.2.0
jeepney==0.7.1
Jinja2==3.1.6
keyboard==0.13.5
keyring==23.5.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
louis==3.20.0
lxml==4.8.0
macaroonbakery==1.3.1
Mako==1.1.3
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mediapipe==0.10.31
menulibre==2.2.2
more-itertools==8.10.0
mpv==1.0.8
msgpack==1.1.2
mugshot==0.4.3
multidict==6.7.0
mutagen==1.45.1
natsort==8.0.2
netaddr==0.8.0
netifaces==0.11.0
numpy==1.21.5
oauthlib==3.3.1
onboard==1.4.1
packaging==25.0
pandas==2.3.0
pexpect==4.8.0
Pillow==9.0.1
propcache==0.4.1
protobuf==3.12.4
proton-core==0.7.3
proton-keyring-linux==0.2.1
proton-vpn-api-core==4.14.3
proton-vpn-daemon==0.13.5
proton-vpn-gtk-app==4.14.1
psutil==5.9.0
ptyprocess==0.7.0
pycairo==1.20.1
pycparser==2.23
pycryptodomex==3.11.0
pycups==2.0.1
pycurl==7.44.1
pydantic==2.12.5
pydantic_core==2.41.5
pyelftools==0.27
pygame==2.6.1
Pygments==2.19.2
PyGObject==3.42.1
PyICU==2.8.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pynvim==0.4.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.11.7
pyRFC3339==1.1
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.2.1
python-gnupg==0.4.8
python-magic==0.4.24
python-slugify==8.0.4
pytz==2025.2
pyxdg==0.27
PyYAML==5.4.1
qrcode==8.2
repath==0.9.0
reportlab==3.6.8
requests==2.32.3
requests-file==1.5.1
rich==14.2.0
SecretStorage==3.3.1
sentry-sdk==1.4.3
setproctitle==1.2.2
six==1.16.0
sounddevice==0.5.3
soupsieve==2.3.1
sqlparse==0.5.3
starlette==0.50.0
systemd-python==234
text-unidecode==1.3
tldextract==3.1.2
tomli==2.4.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ubuntu-drivers-common==0.0.0
ufw==0.36.1
Unidecode==1.3.3
urllib3==1.26.5
uvicorn==0.40.0
uvloop==0.22.1
vboxapi==1.0
wadllib==1.3.6
watchdog==6.0.0
watchfiles==1.1.1
webencodings==0.5.1
websockets==16.0
Werkzeug==3.1.5
wxPython==4.0.7
xdg==5
xkit==0.0.0
yarl==1.22.0
yt-dlp==2025.5.22
zipp==1.0.0
